<div class="accordion-item">
    <h2 class="accordion-header" style="margin-top: 0 !important;">
        <button class="accordion-button {% if flag == false %}collapsed{% endif %}" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{ import.id }}" aria-expanded="true"
                aria-controls="collapseOne">
            <div class="acc-div">
                <p>File: {{ import.path }}</p>
                <p>{{ import.updatedAt|date("d.m.Y | H:i") }}</p>
            </div>
        </button>
    </h2>
    <div id="collapse{{ import.id }}" class="accordion-collapse collapse {% if flag == true %}show{% endif %}"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if import.status|status == 'Error' %}
                <h4 style="color: red;">{{ import.status|status }}</h4>
                <p class="mt-2 mb-2">Message: {{ import.status|statusMessage }}</p>

                {% set row = 1 %}
                {% set messages = import.messages %}
                {% if messages %}
                    {% for column in messages %}
                        <p style="color: red;">{{ row }}. {{ column.message }}</p>

                        {% set row = row + 1 %}
                    {% endfor %}
                {% endif %}

                <a class="btn btn-success mt-4" href="{{ path('reimport', {'slug': import.slug}) }}">Reimport</a>
                <a class="btn btn-primary mt-4" href="{{ path('import_edit', {'slug': import.slug}) }}">Edit</a>
                <a class="btn btn-danger mt-4" href="{{ path('import_delete', {'slug': import.slug}) }}">Delete</a>
            {% elseif import.status|status == 'Success' %}
                <h4 style="color: green;">{{ import.status|status }}</h4>
                <p class="mt-2">Message: {{ import.status|statusMessage }}</p>
                <p>Imported products: {{ import.countImportedProducts }}</p>
                <a class="btn btn-danger mt-4" href="{{ path('import_delete', {'slug': import.slug}) }}">Delete</a>
            {% else %}
                <h4>{{ import.status|status }}</h4>
                <p class="mt-2">Message: {{ import.status|statusMessage }}</p>
                <a class="btn btn-danger mt-4" href="{{ path('import_delete', {'slug': import.slug}) }}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>