<div class="card mt-3 mb-3">
    <div class="card-body">
        <h4 class="card-title">Order-{{ order.id }}</h4>
    </div>

    <ul class="list-group list-group-flush">
        {% block list %}
            <li class="list-group-item">Total price: {{ order.totalPrice|price }}</li>
            <li class="list-group-item">Status: {{ status[order.status] }}</li>
            <li class="list-group-item">Order date: {{ order.createdAt|date('d/m/Y') }}</li>
            <li class="list-group-item">Order time: {{ order.createdAt|date('H\\h s\\s') }}</li>
        {% endblock %}
    </ul>

    <div class="card-body card-btns">
        {% block buttons %}
            <a class="btn btn-primary" href="{{ path('order', {'id': order.id}) }}">
                Open
            </a>
            <a class="btn btn-danger" href="{{ path('order_delete', {'id': order.id}) }}">
                Delete
            </a>
        {% endblock %}
    </div>
</div>


