<div class="card mt-3 {% if product.amount < 1 %}amount-0{% endif %}">
    {% if product.imagePath %}
        <div class="card-img-p">
            <img class="card-img-top card-img"
                 src="{{ asset(uploads_directory ~ product.imagePath) | imagine_filter('my_thumb_small') }}"
                 alt="{{ product.name }}">
        </div>
    {% endif %}

    <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <h6 class="card-title">Slug: {{ product.slug }}</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: {{ product.price|price }}</li>

        {% if product.amount %}
            <li class="list-group-item amount">Amount: {{ product.amount }}</li>
        {% else %}
            <li class="list-group-item">Amount: 0</li>
        {% endif %}
    </ul>
    <div class="card-body card-btns">
        {% block buttons %}
            {% if product.amount > 0 %}
                <div class="d-flex justify-content-center align-items-center mt-2" style="grid-column: span 2">
                    <button class="btn btn-outline-secondary decrease-btn" type="button" data-product-id="{{ product.id }}" data-amount="{{ product.amount }}">-</button>
                    <input type="number" class="form-control text-center mx-2 product-quantity" id="product-quantity-{{ product.id }}" value="{{ product.quantity }}" readonly>
                    <button class="btn btn-outline-secondary increase-btn" type="button" data-product-id="{{ product.id }}" data-amount="{{ product.amount }}">+</button>
                </div>
            {% else %}
                <div class="long">
                    <p style="color: red">The product is out of stock!</p>
                </div>
            {% endif %}

            <a class="btn btn-primary" href="{{ path('product', {'slug': product.slug}) }}">
                Open
            </a>

            <a class="btn btn-danger" href="{{ path('cart_remove', {'id': product.id}) }}">
                Remove
            </a>
        {% endblock %}
    </div>
</div>
