<div class="card mb-3 {% if product.inStock == false %}stock{% endif %}">
    <div class="row g-0">
        {% if product.imagePath %}
            <div class="col-md-2">
                <img src="{{ asset(uploads_directory ~ product.imagePath) | imagine_filter('my_thumb_small') }}"
                     class="img-fluid rounded-start" alt="{{ product.name }}">
            </div>
        {% endif %}

        <div class="{% if product.imagePath %}col-md-10{% else %}col-md-12{% endif %}">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-muted">{{ product.slug }}</p>
                </div>
                <div class="text-end">
                    <h6 class="card-text"><strong>Price: {{ product.price|price }}</strong></h6>

                    {% if product.inStock == true %}
                        <div class="d-flex justify-content-center align-items-center mt-2" style="grid-column: span 2">
                            <button class="btn btn-outline-secondary decrease-btn" type="button"
                                    data-product-id="{{ product.id }}" data-amount="{{ product.amount }}">-
                            </button>
                            <input type="number" class="form-control text-center mx-2 product-quantity"
                                   id="product-quantity-{{ product.id }}" value="{{ product.quantity }}" readonly>
                            <button class="btn btn-outline-secondary increase-btn" type="button"
                                    data-product-id="{{ product.id }}" data-amount="{{ product.amount }}">+
                            </button>
                        </div>
                    {% endif %}

                    <div class="buttons mt-3">
                        <a class="btn btn-primary" href="{{ path('product', {'slug': product.slug}) }}">Open</a>
                        <a class="btn btn-danger" href="{{ path('cart_remove', {'id': product.id}) }}">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

