{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}

    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block title %}Product list{% endblock %}

{% form_theme form _self %}

{% block _isAmount_row %}
    <div class="amount">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}


{% block content %}
    <h1>Filter product form:</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

    <div class="mt-3">
        <button id="form-submit" name="form-submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="{{ path('product_list') }}">Reset</a>
    </div>

    <h1>Product list:</h1>

    {% if pagination.getTotalItemCount > 0 %}
        <div class="cards">
            {% for product in pagination %}
                {% embed 'cards/card.html.twig' %}
                    {% block buttons %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary long" href="{{ path('product', {'slug': product.slug}) }}">
                                Open
                            </a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('product', {'slug': product.slug}) }}">
                                Open
                            </a>
                        {% endif %}

                        {{ parent('buttons') }}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        </div>
    {% else %}
        <p>The list of products is empty</p>
    {% endif %}

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset('script/search.js') }}"></script>
    {# <script src="{{ asset('script/pagination.js') }}"></script> #}
{% endblock %}
