{% extends "base.html.twig" %}

{% block title %}Product list page{% endblock %}

{% form_theme form _self %}

{% block _product_search_isAmount_row %}
    <div class="amount">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}


{% block content %}
    <h1>Filter product form:</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
    <a href="{{ path('product_list') }}">
        Reset
    </a>

    <br/>

    <h1>Product list:</h1>
    {% if products %}
        <div class="cards">
            {% for product in products %}
                {% embed 'cards/card.html.twig' %}
                    {% block buttons %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary long" href="{{ path('product', {'slug': product.slug}) }}">
                                Open product
                            </a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('product', {'slug': product.slug}) }}">
                                Open product
                            </a>
                        {% endif %}

                        {{ parent('buttons') }}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        </div>
    {% else %}
        <p>The list of products is empty</p>
    {% endif %}
{% endblock %}
