{% extends "base.html.twig" %}

{% block title %}Product page{% endblock %}

{% block content %}
    <h1>Product {{ product.name }}:</h1>
    {% embed 'incs/card.html.twig' with {'big_image': 'true'} %}
        {% block buttons %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('api_get_product', {'id': product.id}) }}" target="_blank">
                    API
                </a>
            {% endif %}

            {{ parent('buttons') }}

            {% if not product.isDraft %}
                <div class="quantity">
                    {{ form_start(form) }}
                    <div class="quantity_wrapper">
                        <div class="quantity_body">
                            <span class="quantity_btn quantity_minus">-</span>
                            {{ form_widget(form.quantity) }}
                            <span class="quantity_btn quantity_plus">+</span>
                        </div>

                        {{ form_row(form.save) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% if categoryProducts %}
        <h2>Products in category - {{ product.category.name }}</h2>
    {% endif %}

    <div class="cards">
        {% for categoryProduct in categoryProducts %}
            {% embed 'incs/card.html.twig' with {'product': categoryProduct} %}
                {% block buttons %}
                    <a href="{{ path('product', {'slug': product.slug}) }}">
                        Open product
                    </a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('api_get_product', {'id': product.id}) }}" target="_blank">
                            API
                        </a>
                    {% endif %}

                    {{ parent('buttons') }}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
{% endblock %}
