{% extends "base.html.twig" %}

{% block title %}Product page{% endblock %}

{% block content %}
    <h1>{{ product.name }}:</h1>
    {% embed 'cards/productCard.html.twig' %}

        {% block list %}
            {{ parent('list') }}

            {% if product.productAttr %}
                <li class="list-group-item">Volume: {{ volume(product.productAttr.length, product.productAttr.width, product.productAttr.height) }}</li>

                {% if product.amount %}
                    <li class="list-group-item">Weight: {{ product.productAttr.weight }} g</li>
                {% else %}
                    <li class="list-group-item">Weight: 0 g</li>
                {% endif %}

            {% endif %}
        {% endblock %}

        {% block buttons %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-dark" href="{{ path('api_get_product', {'id': product.id}) }}" target="_blank">
                    API
                </a>
            {% endif %}

            {{ parent('buttons') }}

            {% if not product.isDraft %}
                {% if productQuantityInCart > 0 and product.amount > 0 %}
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-outline-secondary" type="button" id="decreaseBtn" data-product="{{ product.id }}" data-amount="{{ product.amount }}">-</button>
                        <input type="number" class="form-control text-center mx-2" id="counterInput" value="{{ productQuantityInCart }}" readonly>
                        <button class="btn btn-outline-secondary" type="button" id="increaseBtn" data-product="{{ product.id }}" data-amount="{{ product.amount }}">+</button>
                    </div>
                {% else %}
                    {% if product.amount > 0 %}
                        <button type="button" id="addProductToCart" class="btn btn-secondary" data-product="{{ product.id }}" data-amount="{{ product.amount }}">
                            Add product in cart
                        </button>
                    {% else %}
                        <h6 class="mt-2" style="color: red">The product is out of stock!</h6>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endblock %}
    {% endembed %}

    {% if categoryProducts %}
        <h3 class="mt-5">Products in category - {{ product.category.name }}</h3>
    {% endif %}

    <div class="cards">
        {% for categoryProduct in categoryProducts %}
            {% embed 'cards/card.html.twig' with {'product': categoryProduct} %}
                {% block buttons %}
                    <a class="btn btn-primary" href="{{ path('product', {'slug': product.slug}) }}">
                        Open product
                    </a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-dark" href="{{ path('api_get_product', {'id': product.id}) }}" target="_blank">
                            API
                        </a>
                    {% endif %}

                    {{ parent('buttons') }}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
{% endblock %}
